<div class="loginreg-card">
  <div class="card">

    <div class="card-header">
      <div class="card-title">Register</div>
    </div>

    <div class="card-content">
      <form [formGroup]="registerForm">
        <div class="form-field">
          <label>Email</label>
          <input type="email" formControlName="email" placeholder="Enter your email">
          <div class="error-message" *ngIf="email.invalid && email.touched">
            {{getEmailError()}}
          </div>
        </div>

        <div class="form-field">
          <label>Password</label>
          <input type="password" formControlName="password" placeholder="Enter your password">
          <div class="error-message" *ngIf="password.invalid && password.touched">
            {{getPasswordError()}}
          </div>
        </div>

        <div class="form-field">
          <label>Confirm Password</label>
          <input type="password" formControlName="confirmPassword" placeholder="Re-enter Password">
          <div class="error-message" *ngIf="confirmPassword.invalid && confirmPassword.touched">
            {{getConfirmPasswordError()}}
          </div>
        </div>

        <div class="loginreg">
          <button [disabled]="registerForm.invalid" class="loginreg-button" (click)="onSubmit()">Register</button>
        </div>

        <a routerLink="">Already registered? Login</a>
      </form>
    </div>

  </div>
</div>
